@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-primary: #5f6fff;
    --default-font-family: "Outfit";
    --gridAuto: repeat(auto-fill, minmax(200px, 1fr));
}

.list-style{
    @apply py-1 
}

.hr-style{
    @apply border-none outline-none h-0.5 bg-primary w-3/5 m-auto hidden
}
.active hr{
    @apply block
}

.grid-style{
    @apply grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))]
}